# os
.DS_Store
Thumbs.db
Desktop.ini

# pip
pip/pip.log
pip/cache

# configstore
config/configstore/

# robomongo
config/robomongo/

# eid client
config/Plaut Slovensko s.r.o/

# octave
config/octave/

# gocode
config/gocode/


# iterm
iterm2/com.googlecode.iterm2.plist

# secret env vars
env