# os
.DS_Store
Thumbs.db
Desktop.ini

# pip
pip/pip.log
pip/cache

# bower
config/configstore/update-notifier-bower.yml
config/configstore/insight-bower.yml

# robomongo
config/robomongo/robomongo.json