altgraph==0.12
anyjson==0.3.3
apache-libcloud==0.15.1
Archive==0.3
backports.ssl-match-hostname==3.4.0.2
bdist-mpkg==0.5.0
beautifulsoup4==4.3.2
bottle==0.12.7
certifi==14.05.14
cffi==0.8.6
Chameleon==2.16
charade==1.0.3
click==2.5
cryptography==0.5.2
Cython==0.20.2
devpi-client==2.0.0
devpi-common==2.0.0
devpi-server==2.0.1
devpi-web==2.0.0
devpi==2.0.0
Django==1.6.5
docopt==0.6.2
docutils==0.12
dotfiles==0.6.3
dulwich==0.9.7
ecdsa==0.11
envoy==0.0.2
execnet==1.2.0
Fabric==1.9.0
factory-boy==2.4.1
flake8==2.2.2
Flask==0.10.1
greenlet==0.4.2
itsdangerous==0.24
Jinja2==2.7.3
LinkChecker==9.3
M2Crypto==0.22.3
macholib==1.7
MarkupSafe==0.23
matplotlib==1.3.1
mccabe==0.2.1
mercurial==3.0.2
modulegraph==0.12
msgpack-python==0.4.2
nose==1.3.3
numpy==1.8.1
paramiko==1.14.0
PasteDeploy==1.5.2
pep8==1.5.7
pip-tools==0.3.4
pkginfo==1.2b1
py2app==0.9
py==1.4.22
pycparser==2.10
pycrypto==2.6.1
pyflakes==0.8.1
pygit2==0.21.1
Pygments==1.6
pyobjc-core==3.0.1
pyobjc-framework-AddressBook==3.0.1
pyobjc-framework-AppleScriptKit==3.0.1
pyobjc-framework-AppleScriptObjC==3.0.1
pyobjc-framework-Automator==3.0.1
pyobjc-framework-CFNetwork==3.0.1
pyobjc-framework-Cocoa==3.0.1
pyobjc-framework-Collaboration==3.0.1
pyobjc-framework-CoreData==3.0.1
pyobjc-framework-CoreLocation==3.0.1
pyobjc-framework-CoreText==3.0.1
pyobjc-framework-DictionaryServices==3.0.1
pyobjc-framework-ExceptionHandling==3.0.1
pyobjc-framework-FSEvents==3.0.1
pyobjc-framework-InputMethodKit==3.0.1
pyobjc-framework-InstallerPlugins==3.0.1
pyobjc-framework-InstantMessage==3.0.1
pyobjc-framework-LatentSemanticMapping==3.0.1
pyobjc-framework-LaunchServices==3.0.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==3.0.1
pyobjc-framework-PreferencePanes==3.0.1
pyobjc-framework-PubSub==3.0.1
pyobjc-framework-QTKit==3.0.1
pyobjc-framework-Quartz==3.0.1
pyobjc-framework-ScreenSaver==3.0.1
pyobjc-framework-ScriptingBridge==3.0.1
pyobjc-framework-SearchKit==3.0.1
pyobjc-framework-ServiceManagement==3.0.1
pyobjc-framework-SyncServices==3.0.1
pyobjc-framework-SystemConfiguration==3.0.1
pyobjc-framework-WebKit==3.0.1
pyOpenSSL==0.14
pyparsing==2.0.2
pypi-cli==0.3.1
pyramid-chameleon==0.3
pyramid==1.5.1
PyRSS2Gen==1.1
pytest==2.6.0
python-dateutil==2.2
pytz==2014.4
PyYAML==3.11
pyzmq==14.3.1
repoze.lru==0.6
requests==2.3.0
salt==2014.1.7
six==1.7.3
SQLAlchemy==0.9.7
stevedore==0.15
termcolor==1.1.0
tornado==4.0
tox==1.7.2
translationstring==1.1
Twisted==14.0.0
venusian==1.0
virtualenv-clone==0.2.5
virtualenv==1.11.6
virtualenvwrapper==4.3.1
waitress==0.8.9
WebOb==1.4
Werkzeug==0.9.6
Whoosh==2.6.0
wsaccel==0.6.2
wsgiref==0.1.2
xattr==0.7.5
youtube-dl==2014.07.25.1
zope.deprecation==4.1.1
zope.interface==4.1.1
