altgraph==0.11
anyjson==0.3.3
apache-libcloud==0.15.1
Archive==0.3
backports.ssl-match-hostname==3.4.0.2
bdist-mpkg==0.5.0
beautifulsoup4==4.3.2
bottle==0.12.7
cffi==0.8.6
charade==1.0.3
click==2.4
cryptography==0.5
Cython==0.20.2
devpi-client==1.2.2
devpi-common==1.2
devpi-server==1.2.2
devpi==1.2.1
Django==1.6.5
docutils==0.11
dotfiles==0.6.3
ecdsa==0.11
envoy==0.0.2
execnet==1.2.0
Fabric==1.9.0
factory-boy==2.4.1
flake8==2.2.2
Flask==0.10.1
greenlet==0.4.2
itsdangerous==0.24
Jinja2==2.7.3
M2Crypto==0.22.3
macholib==1.6
MarkupSafe==0.23
matplotlib==1.3.1
mccabe==0.2.1
mercurial==3.0.2
modulegraph==0.11.1
msgpack-python==0.4.2
nose==1.3.3
numpy==1.8.1
paramiko==1.14.0
pep8==1.5.7
pip-tools==0.3.4
pkginfo==1.2b1
py2app==0.8.1
py==1.4.20
pycparser==2.10
pycrypto==2.6.1
pyflakes==0.8.1
pygit2==0.21.0
Pygments==1.6
pyobjc-core==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==0.14
pyparsing==2.0.2
pypi-cli==0.3.1
PyRSS2Gen==1.1
pytest==2.5.2
python-dateutil==2.2
pytz==2014.4
PyYAML==3.11
pyzmq==14.3.1
requests==2.3.0
salt==2014.1.5
six==1.7.3
SQLAlchemy==0.9.6
stevedore==0.15
termcolor==1.1.0
tornado==3.2.2
tox==1.7.1
Twisted==14.0.0
vboxapi==1.0
virtualenv-clone==0.2.5
virtualenv==1.11.6
virtualenvwrapper==4.3
Werkzeug==0.9.6
wsaccel==0.6.2
wsgiref==0.1.2
xattr==0.7.5
youtube-dl==2014.06.26
zope.interface==4.1.1
