alabaster==0.7.9
altgraph==0.12
anyjson==0.3.3
apache-libcloud==1.3.0
apipkg==1.4
Archive==0.3
astroid==1.4.8
Babel==2.3.4
backports-abc==0.4
backports.functools-lru-cache==1.3
backports.ssl-match-hostname==3.5.0.1
bdist-mpkg==0.5.0
beautifulsoup4==4.5.1
bottle==0.12.10
certifi==2016.9.26
cffi==1.8.3
Chameleon==2.25
charade==1.0.3
chardet==2.3.0
check-manifest==0.34
click==6.6
colorama==0.3.7
configobj==5.0.6
configparser==3.5.0
cryptography==1.5.2
cssselect==1.0.0
cycler==0.10.0
Cython==0.25.1
Django==1.10.2
django-appconf==1.0.2
django-compressor==2.1
docker-py==1.10.4
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
dodgy==0.1.9
dotfiles==0.6.4
dulwich==0.15.0
ecdsa==0.13
enum34==1.1.6
envoy==0.0.3
execnet==1.4.1
Fabric==1.12.0
factory-boy==2.7.0
fake-factory==0.7.2
fig==1.0.1
first==2.0.1
flake8==3.0.4
Flask==0.11.1
frosted==1.4.1
funcsigs==1.0.2
futures==3.0.5
greenlet==0.4.10
hieroglyph==0.7.1
httpie==0.9.6
humanize==0.5.1
idna==2.1
imagesize==0.7.1
ipaddress==1.0.17
isort==4.2.5
itsdangerous==0.24
jedi==0.9.0
Jinja2==2.8
latexcodec==1.0.4
lazy-object-proxy==1.2.2
LinkChecker==9.3
logilab-common==1.2.2
lxml==3.6.4
M2Crypto==0.25.1
macholib==1.7
MarkupSafe==0.23
matplotlib==1.5.3
mccabe==0.5.2
mercurial==4.0
mock==2.0.0
modulegraph==0.12.1
msgpack-python==0.4.8
MySQL-python==1.2.5
nose==1.3.7
numpy==1.11.2
oset==0.1.3
paramiko==2.0.2
PasteDeploy==1.5.2
pathlib==1.0.1
pbr==1.10.0
pep257==0.7.0
pep8==1.7.0
pep8-naming==0.4.1
pgcli==1.3.1
pgspecial==1.6.0
pies==2.6.7
pies2overrides==2.6.7
Pillow==3.4.2
pip-tools==1.7.0
pkginfo==1.3.2
pluggy==0.4.0
prompt-toolkit==1.0.8
prospector==0.12.4
psutil==4.4.2
psycopg2==2.6.2
py==1.4.31
py2app==0.10
pyasn1==0.1.9
pybtex==0.20.1
pybtex-docutils==0.2.1
pycodestyle==2.0.0
pycparser==2.16
pycrypto==2.6.1
pydocstyle==1.1.1
pyflakes==1.3.0
pygit2==0.24.1
Pygments==2.1.3
pylint==1.6.4
pylint-celery==0.3
pylint-common==0.2.2
pylint-django==0.7.2
pylint-flask==0.5
pylint-plugin-utils==0.2.4
pyOpenSSL==16.2.0
pyparsing==2.1.10
pypi-cli==0.4.1
pyquery==1.2.17
pyramid==1.7.3
pyramid-chameleon==0.3
PyRSS2Gen==1.1
pytest==3.0.3
python-dateutil==2.5.3
python-memcached==1.58
pytz==2016.7
PyYAML==3.12
pyzmq==16.0.0
rcssmin==1.0.6
repoze.lru==0.6
requests==2.11.1
requests-cache==0.4.12
requirements-detector==0.5.2
rjsmin==1.0.12
salt==2016.3.3
selenium==3.0.1
setoptconf==0.2.0
setproctitle==1.1.10
singledispatch==3.4.0.3
six==1.10.0
slack-cleaner==0.2.4
slacker==0.9.29
snowballstemmer==1.2.1
Sphinx==1.4.8
sphinx-rtd-theme==0.1.9
sphinxcontrib-bibtex==0.3.4
SQLAlchemy==1.1.2
sqlparse==0.2.2
stevedore==1.18.0
TBB==0.1
termcolor==1.1.0
texttable==0.8.6
tornado==4.4.2
tox==2.4.1
translationstring==1.3
Twisted==16.4.1
typing==3.5.2.2
uWSGI==2.0.14
vboxapi==1.0
venusian==1.0
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
waitress==1.0.1
wcwidth==0.1.7
WebOb==1.6.2
websocket-client==0.37.0
Werkzeug==0.11.11
Whoosh==2.7.4
wrapt==1.10.8
wsaccel==0.6.2
xattr==0.9.1
youtube-dl==2016.10.26
zope.deprecation==4.1.2
zope.interface==4.3.2
